<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<title>Spring Boot - DELETE-UPDATE AJAX Example</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body class="bg-info">
	<div class="container">
		<form class="form-horizontal">
			<h1 align="center">JOB DESCRIPTION</h1>
			<br>
			<div class="form-group">
				<label class="control-label col-sm-2" for="Date">Date :</label>
				<div class="col-sm-3">
					<input type="date" class="form-control" id="Date:"
						placeholder="Enter Date:">
				</div>
				
				<label class="control-label col-sm-2" for="Profile">Profile:</label>
				<div class="col-sm-3">
					<select class="form-control" id="Profile">
						<option value="#">--select--</option>
						<option value="Developer">Developer</option>
						<option value="Tester">Tester</option>
						<option value="analyst">Analyst</option>
						<option value="db_developer">DB Developer</option>
						<option value="Support_engg ">Support Engineer</option>
						<option value="network_engg">Network Engineer</option>
						<option value="sales">Sales And Marketing</option>
					</select>
				</div>

			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="Project">Project:</label>

				<div class="col-sm-3">
					<textarea class="form-control" id="Project:"
						aria-describedby="jobid" placeholder="Enter Project Name"></textarea>
				</div>
				<label class="control-label col-sm-2" for="Experience">Experience:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="Experience:"
						aria-describedby="jobid" placeholder="Enter Experience:">
				</div>
			</div>



			<div class="form-group">
				<label class="control-label col-sm-2" for="Qualification">Qualification:</label>
				<div class="col-sm-3">
					<textarea class="form-control" id="Project:"
						aria-describedby="jobid" placeholder="Enter Oualification"></textarea>
				</div>
				<label class="control-label col-sm-2" for="Certification">Certification:</label>
				<div class="col-sm-3">
					<textarea class="form-control" id="Certification"
						aria-describedby="jobid" placeholder="Enter Certification Name"></textarea>
				</div>
			</div>

			<div class="form-group"></div>

			<div class="form-group">

				<label class="control-label col-sm-2" for="Skill_Set_Mandetory">Skill
					Set (Mandatory):</label>
				<div class="col-sm-3">
					<textarea class="form-control" id="Skill_Set_Mandetory"
						aria-describedby="jobid" placeholder="Enter Mandetory Skill Set"></textarea>
				</div>
				<label class="control-label col-sm-2" for="Skill_Set_Optional">Skill
					Set (Optional):</label>
				<div class="col-sm-3">
					<textarea class="form-control" id="Skill_Set_Optional"
						aria-describedby="jobid" placeholder="Enter Optional Skill Set"></textarea>
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-2" for="Job_Responsibility">Job
					Responsibility:</label>
				<div class="col-sm-3">
					<textarea class="form-control" id="Job_Responsibility"
						aria-describedby="jobid" placeholder="Enter job Responsibilty"></textarea>
				</div>

				<label class="control-label col-sm-2" for="Expected_Date_of_joining">Expected
					Date of Joining :</label>
				<div class="col-sm-3">
					<input type="date" class="form-control"
						id="Expected_Date_of_joining" aria-describedby="jobid"
						placeholder="Enter Expected Date of joining">
				</div>
			</div>



			<div class="form-group">
				<div class="col-sm-offset-5 col-sm-5">
					<button type="button" class="btn btn-info">SUBMIT</button>
				</div>


			</div>





		</form>
	</div>
</body>
</html>
